*.png
*.sav
*.txt
*.pdf
*.sav
tei_synthesis_ver2.2_20250422/*                          # Ignore all files in tei_synthesis_ver2...
!tei_synthesis_ver2.2_20250422/program/       # ... except the program directory...
!tei_synthesis_ver2.2_20250422/program/**     # ... and all its subdirectories